.header {
    width: 100%;
    border-bottom: 1px solid #424242;
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.header__logo {
    max-width: 50%;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px
}

.logo {
    width: 40px;
    height: 40px;
    padding: 0;
}

.logo__text {
    margin: 0;
}